@model web_quanlynhathuoc.Models.CuaHang

<h2>Thêm cửa hàng</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Mã cửa hàng</label>
        <input asp-for="MaCH_ID" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tên cửa hàng</label>
        <input asp-for="TenCH" class="form-control" />
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input asp-for="DiaChi" class="form-control" />
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input asp-for="SDT" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tiêu chuẩn GPP</label>
        <input asp-for="TieuChuanGPP" class="form-control" />
    </div>
    <div class="form-group">
        <label>Cơ sở vật chất</label>
        <input asp-for="CoSoVatChat" class="form-control" />
    </div>
    <div class="form-group">
        <label>Hoạt động</label>
        <input asp-for="HoatDongNhaThuoc" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
