@model web_quanlynhathuoc.Models.LoaiThuoc

<h2>Xóa loại thuốc</h2>
<h4>Bạn có chắc muốn xóa "@Model.TenLoaiThuoc"?</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="MaLoaiThuoc_ID" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
