@model web_quanlynhathuoc.Models.LoaiThuoc

<h2>Chi tiết loại thuốc</h2>
<p><strong>Mã loại:</strong> @Model.MaLoaiThuoc_ID</p>
<p><strong>Tên loại:</strong> @Model.TenLoaiThuoc</p>
<p><strong>Mã NCC:</strong> @Model.MaNCC_ID</p>

<a asp-action="Index" class="btn btn-primary">Quay lại</a>
